<div>
    <div class="block_user" >
        <p>{{x.lans('are_you_sure_block').capitalize()}} @{{user.user_username}}?</p>
        <p>{{x.lans('user_will_be_notified').capitalize()}}</p>
        <div>
            <a mix-get href="/confirm_user_cancel?key={{user.user_pk}}">{{x.lans('cancel').capitalize()}}</a>
            <a mix-post href="/api-block-user?key={{user.user_pk}}&username={{user.user_username}}" mix-default="{{x.lans('block').capitalize()}}" 
            mix-await="{{x.lans('blocking').capitalize()}}...">{{x.lans('block').capitalize()}}</a>
        </div>
    </div>
</div>