<div>
    <div class="hide_post" >
        <p>{{x.lans('are_you_sure_show').capitalize()}}?</p>
        </p>
        <p>{{x.lans('post_id').capitalize()}}: {{tweet.post_pk}}</p>
        <div>
            <a mix-get href="/confirm_hide_post_cancel?key={{tweet.post_pk}}">{{x.lans('cancel').capitalize()}}</a>
            <form action="/api-show-post?key={{tweet.post_pk}}" mix-post>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button mix-default="{{x.lans('show').capitalize()}}" 
                mix-await="unhiding...">{{x.lans('show').capitalize()}}</button>
            </form>
        </div>
    </div>
</div>