<div>
    <div class="block_user" >
        <p>{{x.lans('are_you_sure_unblock').capitalize()}} @{{user.user_username}}?</p>
        <p>{{x.lans('user_will_be_notified').capitalize()}}</p>
        <div>
            <a mix-get href="/.cp-ad/confirm_user_cancel?key={{user.user_pk}}">{{x.lans('cancel').capitalize()}}</a>
            <form action="/.cp-ad/api-unblock-user?key={{user.user_pk}}" mix-post>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button mix-default="{{x.lans('unblock').capitalize()}}" 
                    mix-await="{{x.lans('unblocking').capitalize()}}...">{{x.lans('unblock').capitalize()}}</button>
            </form>
        </div>
    </div>
</div>