<div class="d-flex a-items-center">
    <img src="{{ url_for('static', filename='uploads/'~(suggestion.user_avatar_path if suggestion.user_avatar_path else 'default.jpg')) }}" class="w-8 h-8 rounded-full"alt="{{x.lans('profile_picture').capitalize()}}">
    <div class="w-full ml-2">
        <p class="">{{suggestion.user_first_name}} {{suggestion.user_last_name}} <span class="text-c-gray:+20 text-70">@{{suggestion.user_username}}</span></p>

    </div>
    
    {% include "___button_unfollow.html" %}

</div>