
<form id="post_{{tweet.post_pk}}" action="/api-update-post?key={{tweet.post_pk}}" value=imgValue name="{{tweet.post_pk}}" mix-post class="d-flex flex-col w-full ml-2">
    <textarea name="post" placeholder="{{x.lans('what_is_new').capitalize()}}" 
    class="w-full outline-1 outline-s-solid outline-c-gray:+50 pa-2" mix-check="{{ x.REGEX_POST }}">{{tweet.post_message}}</textarea>

    {% if tweet.post_image_path %}
    <img id="image_{{tweet.post_pk}}"
    src="{{ url_for('static', filename='images/'~tweet.post_image_path ) }}"
    class="w-80" alt="{{x.lans('profile_picture').capitalize()}}">
    {% else %}
    <img id="image_{{tweet.post_pk}}"
    src="{{ url_for('static', filename='images/default.jpg' ) }}"
    class="w-80" alt="{{x.lans('profile_picture').capitalize()}}" style="display: none;" class="hide">
    {% endif %}

    <input type="hidden" id="hidden_{{tweet.post_pk}}" name="hidden_{{tweet.post_pk}}" value="originalIMG">

    <label for="post_image_{{tweet.post_pk}}">
        <span>{{x.lans('attach_image').capitalize()}}</span>
    </label>
    <input name="post_image_{{tweet.post_pk}}" id="post_image_{{tweet.post_pk}}" type="file" accept="image/png, image/jpeg" onchange="show_post_preview()">
    <button type="button" onclick="removeImage()" id="button_{{tweet.post_pk}}">{{x.lans('delete_image').capitalize()}}</button>

    <button href="/api-cancel-post?key={{tweet.post_pk}}" mix-get 
    class="w-auto ml-auto mt-2 bg-c-black text-c-white py-2 px-12 rounded-xl" type="button">
        {{x.lans('cancel').capitalize()}}
    </button>   
    <button mix-default="{{x.lans('post').capitalize()}}" mix-await="{{x.lans('posting').capitalize()}} ..." 
    class="w-auto ml-auto mt-2 bg-c-black text-c-white py-2 px-12 rounded-xl" type="submit">
        {{x.lans('post').capitalize()}}
    </button>   
</form>


<script>
    const imgDeleted = document.getElementById('hidden_{{tweet.post_pk}}')
    const fileInput = document.getElementById('post_image_{{tweet.post_pk}}');
    imagePreview = document.getElementById('image_{{tweet.post_pk}}');
    if (imagePreview.classList.contains('hide')) {
        imagePreview.classList.remove('hide')
        imagePreview.style.display = 'block';
        imagePreview.style.visibility = 'visible';
    }
    
    fileInput.addEventListener('change', function (event) {
        const file = event.target.files[0]; // Get the first file
        if (file) {
            const reader = new FileReader();
            
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Show the image
            };

            reader.readAsDataURL(file); // Read the file as a data URL
        } else {
            imagePreview.style.display = 'none'; // Hide the image if no file selected
        }
    });
</script>

<script>
    imagePreview = document.getElementById('image_{{tweet.post_pk}}');
    const button = document.getElementById('button_{{tweet.post_pk}}');

    button.fileInput.addEventListener('click', function (event) {
        id = event.target.parentNode.name;
        const imagePreview = document.getElementById('image_'+id);

        imagePreview.src = "{{ url_for('static', filename='images/default.jpg' ) }}"

        imagePreview.classList.add('hidden');

        imagePreview.style.display = "none";

    });
</script>
