<h1>{{x.lans('post').capitalize()}} {{x.lans('unblocked')}}</h1>
<h2>{{x.lans('email_your_post_was').capitalize()}} {{x.lans('unblocked')}} {{x.lans('by_an_admin')}}</h2>
<p>{{x.lans('email_congrats_see_post').capitalize()}}</p>

<p>{{x.lans('post_message').capitalize()}}: {{tweet.post_message}}</p>
{% if tweet.post_image_path: %}
<p>{{x.lans('post_image').capitalize()}}:</p>
<img src="cid:post_image" alt="{{x.lans('post_image').capitalize()}}" width="300">
{% endif %}

<p>
    <a href="http://127.0.0.1/login">{{x.lans('email_go_to_x').capitalize()}}</a>
</p>
