<h1>{{x.lans('post').capitalize()}} {{x.lans('blocked')}}</h1>
<h2>{{x.lans('email_your_post_was').capitalize()}} {{x.lans('blocked')}} {{x.lans('by_an_admin')}}</h2>
<p>
    {{x.lans('email_post_not_accessible').capitalize()}}. {{x.lans('email_believe_mistake').capitalize()}}
</p>

<p>{{x.lans('post_message').capitalize()}}: {{tweet.post_message}}</p>
{% if tweet.post_image_path: %}
<p>{{x.lans('post_image').capitalize()}}:</p>
<img src="cid:post_image" alt="{{x.lans('post_image').capitalize()}}" width="300">
{% endif %}

<p>
    <a href="{{link}}/login">{{x.lans('email_go_to_x').capitalize()}}</a>
</p>
