<h1>
    {{x.lans('profile').capitalize()}}
</h1>

<div>
    <img id="user_avatar"
        src="{{ url_for('static', filename='uploads/'~(session['user_avatar_path'] if session['user_avatar_path'] else 'default.jpg')) }}"
        class="w-8 h-8 rounded-full" alt="{{x.lans('profile_picture').capitalize()}}">
</div>
<form class="x-dialog__form" action="{{ url_for('api_update_profile') }}" mix-post autocomplete="off">
    <div>
        <label for="user_avatar_path">
            <span> {{x.lans('profile').capitalize()}}</span>
        </label>
        <input name="user_avatar_path" id="user_avatar_path" type="file" accept="image/*" onchange="show_preview()">
    </div>
    <div>
        <label for="user_email">
            <span>{{x.lans('email').capitalize()}}</span>
        </label>
        <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}"
            value="{{ user.user_email }}">
    </div>
    <div>
        <label for="user_username">
            <span>{{x.lans('username').capitalize()}}</span> - {{ x.USER_USERNAME_MIN }} {{x.lans('to')}} {{ x.USER_USERNAME_MAX }}
            {{x.lans('characters')}}
        </label>
        <input name="user_username" id="user_username" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}"
            value="{{ user.user_username }}">
    </div>
    <div>
        <label for="user_first_name">
            <span>{{x.lans('first_name').capitalize()}}</span> - {{ x.USER_FIRST_NAME_MIN }} {{x.lans('to')}} {{
            x.USER_FIRST_NAME_MAX }} {{x.lans('characters')}}
        </label>
        <input name="user_first_name" id="user_first_name" type="text" mix-check="{{ x.REGEX_USER_USERNAME }}"
            value="{{ user.user_first_name }}">
    </div>
    <button class="x-dialog__btn" mix-default="{{x.lans('update_profile').capitalize()}}" mix-await="{{x.lans('updating_profile').capitalize()}} ...">
        {{x.lans('update_profile').capitalize()}}
    </button>
</form>

<a href="{{url_for('confirm_delete')}}" mix-get>{{x.lans('delte').capitalize()}}</a>
<div id="confirmDelete"></div>


<script>
        const fileInput = document.getElementById('user_avatar_path');
        const imagePreview = document.getElementById('imagePreview');

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0]; // Get the first file
            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block'; // Show the image
                };

                reader.readAsDataURL(file); // Read the file as a data URL
            } else {
                imagePreview.style.display = 'none'; // Hide the image if no file selected
            }
        });
    </script>