
{% include "_header.html" %}

<main class="x-landing">

    <div class="x-dialog__content">

      <div class="d-flex gap-3">


        <a href="/.cp-ad/english"
        {% if lan == "english": %}
        class="current_language"
        {% endif %}
        >
          <img src="/static/images/flag_english.png" class="w-5">
        </a>

        <a href="/.cp-ad/danish"
        {% if lan == "danish": %}
        class="current_language"
        {% endif %}
        >
          <img src="/static/images/flag_danish.png" class="w-5">
        </a>

        <a href="/.cp-ad/spanish"
        {% if lan == "spanish": %}
        class="current_language"
        {% endif %}        
        >
          <img src="/static/images/flag_spanish.png" class="w-5">
        </a>    

      </div>


        <h2 id="adminTitle">{{x.lans('log_in_to_x').capitalize()}}</h2>
        <form action="/.cp-ad/{{ lan }}" mix-post class="x-dialog__form" autocomplete="off">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input name="user_email" type="text" placeholder="{{x.lans('email').capitalize()}}" mix-check="{{ x.REGEX_EMAIL }}">
            <input name="user_password" type="password" placeholder="{{x.lans('password').capitalize()}}" mix-check="{{ x.REGEX_USER_PASSWORD }}">
            <button class="x-dialog__btn" mix-default="{{x.lans('login').capitalize()}}" mix-await="{{x.lans('logging_in').capitalize()}} ...">
                {{x.lans('login').capitalize()}}
            </button>
        </form>

  </div>

</main>

{% include "_footer.html" %}