
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script src="https://unpkg.com/mojocss"></script>

    <title>
        Fresh news        
    </title>
</head>
<body>
    <div id="toast"></div>
    
    
    <header class="px-4">
        <h1>X | Control Panel</h1>

        <nav>
            <a href="/control_panel/users">User panel</a>
            <a href="/control_panel/posts">Post panel</a>
            <a href="{{url_for('get_data_from_sheet')}}" mix-get>Update dictionary</a>
        </nav>
        
        <a href="{{ url_for('logout') }}">{{ x.lans('logout').capitalize() }}</a>
    </header>
    <main class="px-4">
        <h2>Post manager</h2>

        <div id="posts">
            {% for tweet in tweets: %}
            {% include "_tweet_admin.html" %}
            {% endfor %}
        </div>
        {% include "___show_more_posts_admin.html" %}
    </main>
        
    

    <script src="{{ url_for('static', filename='mixhtml.js') }}"></script>

    <script>
      mojo()
    </script>

</body>
</html>
