
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <script src="https://unpkg.com/mojocss"></script>

    <title>
        {{x.lans("fresh_news").capitalize()}}          
    </title>
</head>
<body>
    <div id="toast"></div>
    
    
    <header class="px-4">
        <h1>X | {{x.lans("control_panel").capitalize()}}</h1>

        <nav>
            <a href="/control_panel/users">{{x.lans("user_panel").capitalize()}}</a>
            <a href="/control_panel/posts">{{x.lans("post_panel").capitalize()}}</a>
            <a href="{{url_for('get_data_from_sheet')}}" mix-get>{{x.lans("update_dictionary").capitalize()}}</a>
        </nav>
        
        <a href="{{ url_for('logout') }}">{{ x.lans('logout').capitalize() }}</a>
    </header>
    <main class="px-4 admin">
        <h2>{{x.lans("user_manager").capitalize()}}</h2>

        <div id="users">
            {% for user in users: %}
            {% include "_user_admin.html" %}
            {% endfor %}
        </div>
        <div class="admin_show_more">
            {% if next_page != 0%}
            {% include "___show_more_users_admin.html" %}
            {% endif%}
        </div>
        <div id="block_confirm" class="pop_up_confirm"></div>
    </main>
        
    

    <script src="{{ url_for('static', filename='mixhtml.js') }}"></script>

    <script>
      mojo()
    </script>

</body>
</html>
